@model IEnumerable<WebSnack.Models.z_bas_goods>

@*@{
        Layout = null;
    }*@
@{
    ViewBag.Title = "商品說明";
}
<section id="service" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                    <div class="section-heading text-center">
                        <h2 class="h-bold">商品詳細說明</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2">
            <div class="service-icon">
                <img src="~/img/goods/@ViewBag.goodsdetail.mimg" style="width:100%" class="img-responsive" />
            </div>
        </div>


        <div class="col-lg-8">
            <div class="service-desc">
                <h5>@ViewBag.goodsdetail.mname</h5>
                @ViewBag.goodsdetail.qty_stock
                <p>單價：@Convert.ToInt32(ViewBag.goodsdetail.price_sale)</p>
                <h5>商品說明</h5>
                <p>@ViewBag.goodsdetail.remark</p>
                @if (Request.IsAuthenticated)
                {
                    <p>
                        <a href="@Url.Action("AddCar")?mno=@ViewBag.goodsdetail.mno" class="btn btn-skin">加入購物車</a>
                    </p>
                }
                else
                {
                    <p></p>
                }
                <p>
                    <a href="@Url.Action("GoodsList")?typeid=@ViewBag.goodsdetail.mtype" class="btn btn-danger">繼續其他購物</a>
                </p>
            </div>

        </div>
    </div>
</section>